body{
    background-image: url('../pictures/intersection.png');
    font-family: 'Alata', sans-serif;
}
.contentContainer{
    background-color:palegoldenrod;
    border: 1px solid black;
    margin-top:50px;
}

.scoreCol{
    background-color:lightgray;
    border-bottom: 1px solid black;
    text-align: center;
}

.timerCol{
    background-color:lightgray;
    border-bottom: 1px solid black;

    text-align: center;

}

.startButtons{
    height:100px;
    width:300px;
    
}
#scoreButton{
    margin-top:5px;
}

.questionRow{
    text-align:center;
    margin-top:40px;
}

.answerRow{
    text-align:center;
    
    margin-top:20px;

}

.answers{
display:none;
height:40px;
background:rgba(255,255,255,0.5);

}
#responseRow{
    text-align:center;
    margin-top:15px;
}

#highscores{
    display:none;
}