body{
    background-image: url('../pictures/intersection.png');
    font-family: 'Alata', sans-serif;
}

.scoreCol{
    background-color:red;
    text-align: center;
}

.timerCol{
    background-color:green;
    text-align: center;

}

#startButton{
    height:100px;
    width:300px;
}

.questionRow{
    text-align:center;
    margin-top:40px;
}

.answerRow{
    text-align:center;
    margin-top:20px;
}

.answers{
display:none;
height:40px;
background-color:purple;
}